@import '../Functions/mixin.scss';
@import '../Functions/var.scss';
.header{
  @include size(90%,auto);
  @include printBorderBottom(1px, solid, $header-border-color);
  @include margin(auto,auto,0,25px);
}

.header-navbar{

}

.navbar-item{
  display:inline;
  font-size:140%;

}
.item-link{
  display:inline-block;
  padding-bottom: 8px;
  color:$navbar-color-link;
}
.item-link:hover{

  @include printBorderBottom(3px, solid, $navbar-color-border-active);
  color:$navbar-color-link-active;
  cursor:pointer;
}
.item-link:focus{
  color:$navbar-color-link-active;
  cursor:pointer;
  @include printBorderBottom(3px, solid, $navbar-color-border-active);
}
.item-link:active{
  color:$navbar-color-link-active;
  @include printBorderBottom(3px, solid, $navbar-color-border-active);
}
