@import '../Functions/mixin.scss';
.main--phone{
  @include size (100%,auto);
}
.header--phone{
  @include size (95%,auto);
}
.flex-square--phone{
  @include size (325px,325px);
}
.category-post--820w{
  top:110%;
}

.square:hover .item-footer--820w{
  left:55%;
  top:45%;
}
