
$background-body: #ECF0F1;
$header-border-color: #BFC3C4;
$navbar-color-link:#C7C8CA;
$navbar-color-link-active: #0C0D0F;
$navbar-color-border-active: #45BE79;
$item-article-color: #010101;
$item-title-color:#010101;
$item-footer-color-border: #F8F8FA;
$item-date-color:#C7C8CA;
$item-voter-color: #E27E20;
$item-category-post-color:#C7C8CA;
